body{
    background: none;
   
    letter-spacing: 0.1em;
    font: normal 100% 'lucida sans unicode', arial, sans-serif;

}
.p {
    letter-spacing: 0.1em;
    font: normal 100% 'lucida sans unicode', arial, sans-serif;
    font-weight: bold;
}

div{

}
img.logo{
    width: 20%;
    margin: 2%;
}
.small{
    height:30%;
    width:30%;
}
.container{
    border-radius: 10px;

    width: 1300px;
    margin-top: 2%;
    margin-left: auto ;
    margin-right: auto ;
    //border: 1px solid black;
}
.header{
    margin: 2%;
    overflow: hidden;
    margin-bottom:0%;
}
.logo{

    width: 70%;
    float:left;
    margin-bottom:2%;
}
.login{
    overflow: hidden;
    //border: 1px solid black;
    height:available;
    margin-top:2%;
}

.input {
    border: 1px solid darkgrey;
}
.input:hover {
    border: 1px solid black;
}

.button {
    border: 1px solid darkgrey;
    color: white;
    background-color: #344D8E;
    padding: 2px 8px;
}
.button:hover {
    border: 1px solid black;
    background-color: #9A9CC5;
    padding: 2px 8px;
}

.menu{
    border-radius: 5px;
}
div.menu{ 
    margin-right: 2%;
    margin-left: 2%;
    height: 35px;
    background-color: #344D8E;

}
.menu ul{
    margin: 2px;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.menu ul li{
    margin-top: 5px;
    margin-left: 11px;
    display: block;
    float: left;  
    //padding-right: 1px;
    padding-left: 2px;
        
}
.menu ul li a{
    text-decoration:none;
    padding: .2em 1em;
    color: #fff;
    background-color: #344D8E;
    border: 1px solid #344D8E;
}
.menu ul li a:hover{
    border: 1px solid #9A9CC5;
    border-top-color: #9A9CC5;
    border-bottom-color: #9A9CC5;
    color: #fff;
    background-color: #9A9CC5;
}
.content{
    border-radius: 5px;
    overflow: hidden;
    float:inside;
    // border: 1px solid black;

}
.navigator{
    border-radius: 5px;

    width: calc(20% - 2px);
    float: left;
    margin: 2% ;
}
.zoekbalk{
    border-radius: 5px;
    height:max-content;
    width: 100%;
    margin-bottom: 8%;
    text-align:center;
    background-color:#344D8E;
}
.zoekinput{
    margin:3%;
}
.zoeksubmit{
    color: black;
    border-width: 1px;
    border-radius: 2px;
    border-color: black;
    background-color:white;
}
.navigatie{
    border: 1px solid #344D8E;
    border-radius: 5px;
    height: auto;
    min-height: 20%;
    width: 100%;
}
.body {
    border-radius: 5px;
    border: #344D8E 1px solid;
    width: calc(57%);
    height: auto;
    min-height: 26%;
    margin-top: 2%;
    margin-bottom: 2%;
    float:left;
}


.banner{
    border-radius: 5px;
    border: 1px solid #344D8E;
    width: calc(15% - 2px);
    margin: 2%;
    height: auto;
    min-height: 26%;
    float:left;

}
.footer{
    width: 96%;
    height: 10%;
    border: 1px solid #344D8E;
    border-radius: 5px;
    margin-bottom:  2%;
    margin-left:  2%;
    margin-right:  2%;
}
