body{
    margin-left:auto;
    margin-right:auto;
    background: none;
    font: normal 100%;
    font-family: 'Oxygen', sans-serif;
	width: 1264px;

}
.p {
    font: normal 100%;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

img.logo{
    width: 20%;
    margin: 1%;
}
.small{
    height: 100px;
    /* width:30%; */
}
.container{
    border-radius: 10px;

    width: 1270px;
    margin-top: 1%;
    margin-left: auto ;
    margin-right: auto ;
    //border: 1px solid black;
}
.header{
    margin: 1%;
    overflow: hidden;
    margin-bottom:0%;
}
.logo{

    width: 70%;
    float:left;
    margin-bottom:1%;
}
.login{
    overflow: hidden;
    //border: 1px solid black;
    height:available;
    margin-top:1%;
}

.input {
    border: 1px solid darkgrey;
}
.input:hover {
    border: 1px solid black;
}

.button {
    border: 1px solid darkgrey;
    color: white;
    background-color: #344D8E;
    padding: 2px 8px;
}
.button:hover {
    border: 1px solid black;
    background-color: #9A9CC5;
    padding: 2px 8px;
}

.menu{
    border-radius: 5px;
}
div.menu{ 
    margin-right: 1%;
    margin-left: 1%;
    height: 35px;
    background-color: #344D8E;

}
.menu ul{
    margin: 2px;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.menu ul li{
    margin-top: 8px;
    margin-left: 11px;
    display: block;
    float: left;  
    padding-left: 2px;
        
}
.menu ul li a{
	vertical-align: bottom;
    text-decoration:none;
    
	padding: .2em 1em;
    color: #fff;
    background-color: #344D8E;
    border: 1px solid #344D8E;

}
.menu ul li a:hover{
    vertical-align: bottom;
    border: 1px solid #9A9CC5;
    border-top-color: #9A9CC5;
    border-bottom-color: #9A9CC5;
    color: #fff;
    background-color: #9A9CC5;
    padding: .2em 1em;
}
.content{
    border-radius: 5px;
    overflow: hidden;
    float:inside;
    //border: 1px solid black;

}
.navigator{
    border-radius: 5px;
    width: calc(18% - 2px);
    float: left;
    margin: 1% ;
	margin-right: 2%;
	margin-top: 2%;
}
.zoekbalk{
    border-radius: 5px;
    height:max-content;
    width: 100%;
    margin-bottom: 8%;
    text-align:center;
    background-color:#344D8E;
}
.zoekinput{
    margin:3%;
}
.zoeksubmit{
    color: black;
    border-width: 1px;
    border-radius: 2px;
    border-color: black;
    background-color:white;
}
.navigatie{
    border: 1px solid #344D8E;
    border-radius: 5px;
    height: auto;
    min-height: 20%;
    width: 100%;
    padding-left:5px;
	margin-right: 2%;
}
.body{
    //border-radius: 5px;
    //border: #344D8E 1px solid;
    width: calc(79%);
    height: auto;
    min-height: 26%;
    margin-top: 1%;
    margin-bottom: 1%;
    float:left;
}


.banner{
    border-radius: 5px;
    border: 1px solid #344D8E;
    width: calc(15% - 2px);
    margin: 1%;
    margin: 1%;
    height: auto;
    min-height: 26%;
    float:left;

}
.footer{
    width: 96%;
    height: 10%;
    border: 1px solid #344D8E;
    border-radius: 5px;
    margin-bottom:  1%;
    margin-left:  1%;
    margin-right:  1%;
	overflow:hidden;
}
.foutmelding{
    color:red;
    margin:0px;
}

.wachtwoordvergeten_button {
    font-size: 14px;
    text-decoration:none;
}

.wachtwoordvergeten_button:hover {
    text-decoration:underline;
}

.login_button {
    float:right;
}
.logout_button {
    float:right;
}