/*css bestand voor mijn bestellingen en bestel geschiedenis*/
/*class voor naar de bestelgeschiedenis is en */



.bestelgeschiedenis:hover {
    text-decoration:underline;

}

.bestelgeschiedenis {
    font-size: 16px;
    font-weight:bold;
    background-color: #344D8E;
    border: 1px solid #344D8E;
    color: #fff;
    text-decoration:none;
    display:block;
}

.bestelnummer:hover {
    text-decoration:underline;
    color:blue;
}

.bestelnummer{
    text-decoration:none;
    color:black;
}

.bestelregelheader{
    font-size: 90%;
    font-weight:bold;
    background-color: #344D8E;
    border: 1px solid #344D8E;
    color: #fff;
    text-align: left;
    margin:0;
}

.tablebestellingen {
    width: 100%;
    border-spacing:0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tablebestellingen th {
    font-size:90%;
    background-color: #344D8E;
    border: 1px solid #344D8E;
    color: #fff;
    text-align: left;
}

.tablebestellingen td {
    margin:0%;
    border: 1px solid rgb(66, 85, 146);
}

.tableannuleer{ 
    padding-top:10px;
}