
.content{
    width:1270px;
}
.body{
    width:calc(98% - 2px);
    margin-left:13px;
    border: 1px solid #344D8E;
    border-radius:5px;
}
.footer{
    width:98%;
}
.login_verzenden{
    margin-left: 50px;
}
.login_center{
    margin-top:100px;
    margin-left: 30%;
    margin-right:40%;
    margin-bottom:100px;
    width: 40%;
    text-align: center;
}
.kop{
    text-align:center;
}
.verzenden_knop_left{
    float:left;
    margin-bottom:20px;
    margin-left: 20px;
}
.verzendadres{
    margin-top:0px;
    display:inline;
    text-align:center;
}
.verzenden_knop_right{
    float:right;
    margin-right:20px;
    margin-top:170px;
}
.opmerking{
    text-align:center;
    margin-left: 30px;
}
.overzicht{
    margin-left:20px;
    margin-top:10px;
    margin-bottom:20px;
}
.afrekenen_knop_right{
    float:right;
    margin-right:10px;
}