.body {
    width: calc(79%);
    height: auto;
    min-height: 26%;
    margin-top: 2%;
    margin-bottom: 2%;
    float:left;
}
p.aantalzoek{
	text-align:right; 
	display:block; 
	color: #344d8e; 
	font-size:12px;
	width: 985px;
}

p.geenres{
	color: red;
}

/* PRODUCTEN ROWS */
td.header{
	vertical-align: top;
	/* border-bottom: 1pt solid black; */
	font-size: 10px;
}

td.afbeelding {
    width: 120px;
    height: 120px;
	vertical-align: middle;
//	border: 1pt solid black;
}

/* resize images */
td.afbeelding img {
    width: 100%;
    height: auto;
	max-height: 120px;
	max-width: 120px;
//	border: 1pt solid black;
}

div.omschrijving {
	font: normal 12px 'lucida sans unicode', arial, sans-serif;
	color: black;
	overflow: hidden;
	text-overflow: ellipsis;
	-ms-text-overflow:ellipsis;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
	height: 70px;
	max-width: 400px;
	margin-top: 10px;
}

/*--non web-kit browsers--*/
div.omschrijving {
    position:relative;
    height:70px;
	width: 550px;
	letter-spacing: 0.1em;
	line-height:18px;
//	border: 1pt solid black;
}
div.omschrijving:after {
    position:absolute;
    bottom:0;
    right:0;
    padding:0 10px 0px 45px;   
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(45%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
//	content:'...';
}

td.productnaam a{
	color:#344d8e;
	vertical-align:top;
	overflow:hidden;
	display:block;
//	padding-left: 10px;
	width: 465px;
//	border: 1pt solid black;
	text-decoration: none;
	margin-bottom:16px;
}

td.winkelm{
	vertical-align: bottom;
	width: 15%;
//	border: 1pt solid black;
}

td.prijs a{
	color: #344d8e;
	vertical-align: central;
//	border: 1pt solid black;
	text-decoration:none;
}

div.prijsklein{
	font: normal 10px 'lucida sans unicode', arial, sans-serif;
	color: black;
//	border: 1pt solid black;
}


/* PRODUCTEN BLOCKS */
td.afbeeldingblock{
	height:100px;
    width:230px;
	display:table-cell;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
//	border:1px solid black; 
} 
input.afbeeldingblock{
	//width:99%;
	max-height: 100px;
	max-width: 99%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
//	border:1px solid black; 
	size: contain;
}
/* resize images */
    td.afbeeldingblock img{
//    width:99%;
	max-height: 90%;
	max-width: 99%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
//	border:1px solid black; 
	size: contain;
}

td.productnaamblock a{
//	font: normal 14px 'lucida sans unicode', arial, sans-serif;
	color:#344d8e;
	width: 218px;
//	height: 40px;
	vertical-align:top;
//	border:1px solid black; 
	overflow:hidden;
	display:block;
//	padding-left: 1px;
//	padding-top: 12px;
	padding-bottom:-5px;
	line-height: 18px;
	text-decoration: none;
}

div.omschrijvingblock{
	font: normal 12px 'lucida sans unicode', arial, sans-serif;
	color: black;
	overflow: hidden;
	text-overflow: ellipsis;
	-ms-text-overflow:ellipsis;
//	display: block;
	display: -webkit-box;
//	-webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
	width:100%;
	max-width: 220px;
	margin-top: 5px;
	margin-bottom: -40px;
}

/*--non web-kit browsers--*/
div.omschrijvingblock{
//	border: 1px solid black;
    position:relative;
//    height:165px;
	letter-spacing: 0.1em;
	line-height:18px;
}

div.omschrijvingblock:after{
    position:absolute;
    bottom:0;
    right:0;
    padding:0 10px 5px 45px;   
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(45%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
//	content:'...';
}

td.winkelmblock{
	vertical-align: bottom;
//	border: 1px solid black;
}

td.winkelmblock form{
	width: 60px;
//	border: 1px solid black;
	vertical-align: bottom;
	margin-bottom: 0px;
//	display:table-cell;
}

td.prijsblock a{
	color: #344d8e;
	vertical-align: bottom;
	text-align: right;
//	height: 41px;
//	border: 1px solid black;
	display:block;
	text-decoration:none;
	margin-top:50px;
}

div.prijskleinblock{
	font: normal 10px 'lucida sans unicode', arial, sans-serif;
	color: black;
//	border: 1px solid black;
	display:block;
	text-align: right;
	vertical-align:bottom;
	margin-top: 3px;
}

table.headerblock{
	border-style: solid;
    border-width: 1px;
	border-color: #BBB;
	width: 230px;
	height: 300px;
	display: inline-table;
	margin: 5px;
}

table.headerblock:hover{
	border-style: solid;
    border-width: 1px;
	border-color: #344d8e;
}


/* TOOLTIP */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 60px;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	background-color: #344d8e;
//	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 20%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
//	content: " ";
	font-size: 0;
	line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

/* right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 95%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0px;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px); 
}

/* <a href=\"#\" class=\"tooltip-right\" data-tooltip=\"Bestel\">winkelm</a> */