body{
    background: none;
   
    letter-spacing: 0.1em;
    font: normal 100% 'lucida sans unicode', arial, sans-serif;

}
.p {
    letter-spacing: 0.1em;
    font: normal 100% 'lucida sans unicode', arial, sans-serif;
    font-weight: bold;
}
h4{
    margin:0;
}
div{

}
img.logo{
    width: 20%;
    margin: 2%;
}
.container{
    border-radius: 10px;

    width: 1300px;
    margin-top: 2%;
    margin-left: auto ;
    margin-right: auto ;
    //border: 1px solid black;
}
.header{
    margin: 2%;
    overflow: hidden;
    margin-bottom:0%;
}
.logo{

    width: 70%;
    float:left;
    margin-bottom:2%;
}
.login{
    overflow: hidden;
    //border: 1px solid black;
    height:available;
    margin-top:2%;
}

.input {
    border: 1px solid darkgrey;
}
.input:hover {
    border: 1px solid black;
}

.button {
    border: 1px solid darkgrey;
    color: white;
    background-color: #344D8E;
    padding: 2px 8px;
}
.button:hover {
    border: 1px solid black;
    background-color: #9A9CC5;
    padding: 2px 8px;
}

.menu{
    border-radius: 5px;
}
div.menu{ 
    margin-right: 2%;
    margin-left: 2%;
    height: 35px;
    background-color: #344D8E;

}
.menu ul{
    margin: 2px;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.menu ul li{
    margin-top: 5px;
    margin-left: 11px;
    display: block;
    float: left;  
    //padding-right: 1px;
    padding-left: 2px;
        
}
.menu ul li a{
    text-decoration:none;
    padding: .2em 1em;
    color: #fff;
    background-color: #344D8E;
    border: 1px solid #344D8E;
}
.menu ul li a:hover{
    //border: 1px solid #5E5E64;
    border: 1px solid #9A9CC5;
    color: #fff;
    background-color: #9A9CC5;
}

.content{
    border-radius: 5px;
    overflow: hidden;
    float:inside;
    // border: 1px solid black;

}
.navigator{
    border-radius: 5px;

    width: calc(20% - 2px);
    float: left;
    margin: 2% ;
}
.zoekbalk{
    border-radius: 5px;
    height:max-content;
    width: 100%;
    margin-bottom: 8%;
    text-align:center;
    background-color:#344D8E;
}
.zoekinput{
    margin:3%;
}
.zoeksubmit{
    color: black;
    border-width: 1px;
    border-radius: 2px;
    border-color: black;
    background-color:white;
}
.navigatie{
    border: 1px solid #344D8E;
    border-radius: 5px;
    height: auto;
    min-height: 20%;
    width: 100%;
}
.body {
    border-radius: 5px;
    border: #344D8E 1px solid;
    width: calc(74%);
    height: auto;
    min-height: 26%;
    margin-top: 2%;
    margin-bottom: 2%;
    float:left;
}


.banner{
    border-radius: 5px;
    border: 1px solid #344D8E;
    width: calc(15% - 2px);
    margin: 2%;
    height: auto;
    min-height: 26%;
    float:left;

}
.footer{
    width: 96%;
    height: 10%;
    border: 1px solid #344D8E;
    border-radius: 5px;
    margin-bottom:  2%;
    margin-left:  2%;
    margin-right:  2%;
}

p.aantalzoek{
	text-align:right; 
	display:block; 
	color: #344d8e; 
	font-size:12px;
}

p.geenres{
	color: red;
}

/* PRODUCTEN ROWS */
td.header{
	vertical-align: top;
	/* border-bottom: 1pt solid black; */
	font-size: 10px;
}

td.afbeelding {
    width: 120px;
    height: 120px;
	vertical-align: middle;
//	border: 1pt solid black;
}

/* resize images */
td.afbeelding img {
    width: 100%;
    height: auto;
	max-height: 120px;
	max-width: 120px;
//	border: 1pt solid black;
}

div.omschrijving {
	font: normal 12px 'lucida sans unicode', arial, sans-serif;
	color: black;
	overflow: hidden;
	text-overflow: ellipsis;
	-ms-text-overflow:ellipsis;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
	height: 70px;
	max-width: 400px;
	margin-top: 10px;
}

/*--non web-kit browsers--*/
div.omschrijving {
    position:relative;
    height:70px;
	width: 550px;
	letter-spacing: 0.1em;
	line-height:18px;
//	border: 1pt solid black;
}
div.omschrijving:after {
    position:absolute;
    bottom:0;
    right:0;
    padding:0 10px 0px 45px;   
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(45%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
	content:'...';
}

td.productnaam{
	color:#344d8e;
	vertical-align:top;
	/* border:1px solid black; */ 
	overflow:hidden;
	display:block;
	padding-left: 10px;
	width: 465px;
//	border: 1pt solid black;
}

td.winkelm{
	vertical-align: bottom;
	width: 15%;
//	border: 1pt solid black;
}

td.prijs{
	color: #344d8e;
	vertical-align: central;
//	border: 1pt solid black;
}

div.prijsklein{
	font: normal 9px 'lucida sans unicode', arial, sans-serif;
	color: black;
//	border: 1pt solid black;
}


/* PRODUCTEN BLOCKS */
td.afbeeldingblock{
	height:100px;
    width:230px;
	display:table-cell;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
//	border:1px solid black; 
} 

/* resize images */
    td.afbeeldingblock img{
//    width:99%;
	max-height: 90%;
	max-width: 99%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
//	border:1px solid black; 
	size: contain;
}

td.productnaamblock{
	font: normal 14px 'lucida sans unicode', arial, sans-serif;
	color:#344d8e;
	width: 218px;
	height: 60px;
	vertical-align:top;
//	border:1px solid black; 
	overflow:hidden;
//	display:block;
	padding-left: 1px;
	padding-top: 12px;
	line-height: 18px;
}

div.omschrijvingblock{
	font: normal 12px 'lucida sans unicode', arial, sans-serif;
	color: black;
	overflow: hidden;
	text-overflow: ellipsis;
	-ms-text-overflow:ellipsis;
//	display: block;
	display: -webkit-box;
//	-webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
	width:100%;
	max-width: 220px;
	margin-top: -10px;
}

/*--non web-kit browsers--*/
div.omschrijvingblock{
//	border: 1px solid black;
    position:relative;
    height:165px;
	letter-spacing: 0.1em;
	line-height:18px;
}

div.omschrijvingblock:after{
    position:absolute;
    bottom:0;
    right:0;
    padding:0 10px 5px 45px;   
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(45%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 45%, white);
	content:'...';
}

td.winkelmblock{
	vertical-align: bottom;
//	border: 1px solid black;
}

td.winkelmblock form{
	width: 60px;
//	border: 1px solid black;
	vertical-align: bottom;
	margin-bottom: 0px;
	display:table-cell;
}

td.prijsblock{
	color: #344d8e;
	vertical-align: central;
	text-align: right;
	height: 41px;
//	border: 1px solid black;
	display:table-cell;
}

div.prijskleinblock{
	font: normal 9px 'lucida sans unicode', arial, sans-serif;
	color: black;
//	border: 1px solid black;
	display:block;
	text-align: right;
}

table.headerblock{
	border-style: solid;
    border-width: 1px;
	border-color: #BBB;
	width: 230px;
	height: 386px;
	display: inline-table;
	margin: 5px;
}

table.headerblock:hover{
	border-style: solid;
    border-width: 1px;
	border-color: #344d8e;
}


/* TOOLTIP */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 60px;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	background-color: #344d8e;
//	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 20%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
//	content: " ";
	font-size: 0;
	line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

/* right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 95%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px); 
}

/* <a href=\"#\" class=\"tooltip-right\" data-tooltip=\"Bestel\">winkelm</a> */