h3{
	margin-left:10px;
}

div.productnaam{
	margin-left:10px;
	color:#344d8e;
}

div.afbeelding{
	height:200px;
    width:200px;
	display:table-cell;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
//	border:1px solid black;
} 


/* resize images */
div.afbeelding img{
	padding-left:10px;
//    width:99%;
	max-height: 90%;
	max-width: 99%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
//	border:1px solid black; 
	size: contain;
}

div.bestelblok{
	float:right;
	margin-right:50px;
	margin-top:10px;
	padding: 0px 20px 0px 20px;
    border: 1px solid #DDD;
	border-radius: 10px;
	width:25%;
}

p.pronr{
	text-align:right;
	font-size:14px;
	color: gray;
}

p.prijs{
	font-size:22px;
	color: #344d8e;
	font-weight: bold;
	margin-bottom:-5px;
}

p.prijsklein{
	color:black;
	font-size:12px;
}

p.opvoorraad{
	color:green;
}

p.beperktopvoorraad{
	color:orange;
}

p.nietopvoorraad{
	color:red;
}

.textbox { 
    background: white; 
    //border: 1px solid #9A9CC5; 
    //border-radius: 5px; 
    //box-shadow: 0 0 5px 3px #9A9CC5; 
    //color: #666; 
    //outline: none; 
    height:30px; 
    width: 65px; 
	font: normal 14px 'lucida sans unicode', arial, sans-serif;
	text-align:center;
	display: table-cell;
    vertical-align: bottom;
	margin-top:18px;
} 

.inwinkelwagen {
    border: 1px solid darkgrey;
    color: white;
    background-color: #344D8E;
    padding: 3px;
    margine-top:5px;
    margine-left:50px;
    display:block;
	height:29px;
	font-size:14px;
	margin-left: 80px;
	margin-top:-46px;
}

div.omschrijving{
	margin-left:10px;
	margin-top:0px;
}

table.tabel{
	margin-left:10px;
	margin-bottom:10px;
}

.tabel{
	width:50%; 
	border-collapse:collapse; 
}

.tabel tr{
		background: white;
}

.tabel td{
	padding:7px; border:gray 1px solid;
}

/*  ONEVEN RIJEN  */
.tabel tr:nth-child(odd){ 
	background: #e8f0f9;
}

/*  EVEN RIJEN  */
.tabel tr:nth-child(even){
	background: #f4fbfa;
}


/* TOOLTIP */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 60px;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	background-color: #344d8e;
//	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 20%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
//	content: " ";
	font-size: 0;
	line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

/* right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 120%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0px;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px); 
}

/* <a href=\"#\" class=\"tooltip-right\" data-tooltip=\"Bestel\">winkelm</a> */