/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-dec-2014, 15:05:50
    Author     : GertJan
*/

.content{
    width:1270px;
}
.body{
    width:calc(98% - 2px);
    margin-left:13px;
    border: 1px solid #344D8E;
    border-radius:5px;
    height:200px;
    text-align:center;
}
.footer{
    width:98%;
}
.error{
    text-align:center;
}
.verzenden_knop_left{
    float:left;
    margin-bottom:20px;
    margin-left: 20px;
    margin-top:30px;
}
.verzenden_knop_right{
    float:right;
    margin-right:20px;
    margin-top:20px;
}
.links {
    font-size: 20px;
    text-decoration:none;
}

.links:hover {
    text-decoration:underline;
}