

.body {
    border-radius: 5px;
    border: #344D8E 1px solid;
    width: 98%;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 2%;
    float:left;
}
.forgot_password {
  margin:auto;
  text-align:center;
  width:500px;
}

.forgot_button {
    margin-left:5px;
}

.foutmelding {
    color: red;
}